<!-- Grupo Nombre -->
<section class="box" id="grupo_nombre">
    <label for="nombre" class="titulo">Nombre</label>
    <div class="formulario__grupo-input">
        <input type="text" class="input" name="nombre" placeholder="Ingrese su nombre"
            value="<%= locals.oldData ? oldData.nombre :
                        usuario ? usuario.nombre :
            null %>">
        <% if (locals.errores && errores.nombre) { %><i class="fas fa-times-circle"></i><% } %>
        <% if (locals.errores && !errores.nombre) { %><i class="fas fa-check-circle"></i><% } %>
    </div>
    <% if (locals.errores && errores.nombre) { %>
        <p class="criterio input-error"><%= errores.nombre.msg %></p>
    <% } %>
</section>

<!-- Grupo Apellido -->
<section class="box" id="grupo_apellido">
    <label for="apellido" class="titulo">Apellido</label>
    <div class="formulario__grupo-input">
        <input type="text" class="input" name="apellido" placeholder="Ingrese su apellido"
            value="<%= locals.oldData ? oldData.apellido : 
                        usuario ? usuario.apellido :
            null %>">
        <% if (locals.errores && errores.apellido) { %><i class="fas fa-times-circle"></i><% } %>
        <% if (locals.errores && !errores.apellido) { %><i class="fas fa-check-circle"></i><% } %>
    </div>
    <% if (locals.errores && errores.apellido) { %>
        <p class="criterio input-error"><%= errores.apellido.msg %></p>
    <% } %>
</section>

<!-- Grupo Email -->
<section class="box" id="grupo_email">
    <label for="email" class="titulo">Correo Electrónico</label>
    <div class="formulario__grupo-input">
        <input type="text" class="input" name="email" placeholder="Ingrese su Correo Electrónico"
            value="<%= locals.oldData ? oldData.email : 
                        usuario ? usuario.email :
            null %>">
        <% if (locals.errores && errores.email || usuarioEnBD) { %><i class="fas fa-times-circle"></i><% } %>
        <% if (locals.errores && !errores.email && !usuarioEnBD) { %><i class="fas fa-check-circle"></i><% } %>
    </div>
    <% if (locals.errores && errores.email) { %>
        <p class="criterio input-error"><%= errores.email.msg %></p>
    <% } else { %>
        <% if (usuarioEnBD) { %>
            <p class="criterio input-error">Este mail ya figura en nuestra base de datos</p>
        <% } %>
    <% } %>
</section>

<!-- Grupo Imagen de perfil -->
<section class="box" id="grupo_imagen">
    <label for="imagen" class="titulo">Imagen de perfil</label>
    <div class="formulario__grupo-input">
        <input type="file" class="input" name="imagen">
        <% if (locals.errores && errores.imagen) { %><i class="fas fa-times-circle"></i><% } %>
        <% if (locals.errores && !errores.imagen) { %><i class="fas fa-check-circle"></i><% } %>
    </div>
    <% if (locals.errores && errores.imagen) { %>
        <p class="criterio input-error"><%= errores.imagen.msg %></p>
    <% } else { 
        if (titulo != "Editar el Usuario") { %>
            <p class="criterio">Tienes que subir una imagen</p>
        <% } %>
    <% } %>
</section>

<!-- Grupo Contraseña -->
<section class="box" id="grupo_contrasena">
    <label for="contrasena" class="titulo">Contraseña</label>
    <div class="formulario__grupo-input">
        <input type="password" class="input" name="contrasena" 
            value="<%= locals.oldData ? oldData.contrasena : null %>">
        <% if (locals.errores && errores.contrasena) { %><i class="fas fa-times-circle"></i><% } %>
        <% if (locals.errores && !errores.contrasena) { %><i class="fas fa-check-circle"></i><% } %>
    </div>
    <% if (locals.errores && errores.contrasena) { %>
        <p class="criterio input-error"><%= errores.contrasena.msg %></p>
    <% } else { %>
        <% if (!locals.errores) { %>}
            <p class="criterio">La contraseña debe tener de 6 a 12 caracteres</p>
        <% } %>
    <% } %>
</section>

<!-- Grupo Repetir Contraseña -->
<section class="box" id="grupo_contrasena2">
    <label for="contrasena2" class="titulo">Repita su Contraseña</label>
    <div class="formulario__grupo-input">
        <input type="password" class="input" name="contrasena2" 
            value="<%= locals.oldData ? oldData.contrasena2 : null %>">
        <% if (locals.errores && errores.contrasena2 || !coincidencia) { %><i class="fas fa-times-circle"></i><% } %>
        <% if (locals.errores && !errores.contrasena2 && coincidencia) { %><i class="fas fa-check-circle"></i><% } %>
    </div>
    <% if (locals.errores && errores.contrasena2) { %>
        <p class="criterio input-error"><%= errores.contrasena2.msg %></p>
    <% } else { %>
        <% if (!coincidencia) { %>
            <p class="criterio input-error">Ambas contraseñas deben coincidir</p>
        <% } %>
    <% } %>
</section>

<!-- Submit -->
<section id="boton-registro">
    <button class="button" type="submit">Envíe los datos</button>
    <div class="contenedor-redes">
        <a href="https://www.facebook.com/">
            <button class="redes-sociales">
                <i class="fab fa-facebook-square"></i>
            </button>
        </a>
        <a href="https://accounts.google.com/">
            <button class="redes-sociales">
                <i class="fab fa-google"></i>
            </button>
        </a>
    </div>    
</section>
