<%- include('preHead') %>
<head>
    <%- include('head') %>
    <link rel="stylesheet" href="/css/home-body.css">
    <link rel="stylesheet" href="/css/home-responsive.css">
    <title>Guitar Shop</title>
</head>
<body>
    <%- include('header') %>
    <main>
        <%- include('banner') %>
        <%- include("producto-index") %>
    </main>
    <%- include('footer') %>
</body>    
</html>