<%- include('head') %>
<body>
	<%- include('header') %>
	<main>
		<img id="banner" src="/images/varios/banner-vigente.jpg" alt="baner" class="banner-image">
		<% for (const seccion of seccionesProductos) { %>
			<section class="products-group">
				<div class="section-header flex-container">
					<p class="section-title"><%= seccion.titulo %> </p>
					<p class="view-more">Ver todos</p>
				</div>
				<div class="section-products flex-container">
					<% for (const instrumento of seccion.productos) { %>
						<article class="product">
							<div class="product-image-container">
								<a href="/producto/<%= instrumento.id %>/detalle">
									<img src="/images/products/<%= instrumento.imagenes[0].ruta %>" alt="<%= instrumento.nombre %>" class="product-image">
								</a>
								<a href="/carrito/agregar-desde-listado/<%= instrumento.id %>" class="fas fa-shopping-basket"></a>
							</div>
							<div class="product-information">
								<p class="product-description"><%= instrumento.nombre %></p>
								<p class="product-price">$ <%= toThousand(instrumento.precio) %></p>
							</div>
						</article>
					<% } %> 
				</div>
			</section>
		<% } %> 
	</main>
	<%- include('footer') %>
</body>    
</html>