<%- include('preHead') %>
<head>
    <%- include('head') %>
    <link rel="stylesheet" href="/css/home-body.css">
    <link rel="stylesheet" href="/css/home-responsive.css">
    <title>Guitar Shop</title>
</head>
<body>
    <%- include('header') %>
    <main>
        <%- include('banner') %>
        <% for (const productList of seccionesProductos) { %>
            <section class="products-group">
                <div class="section-header flex-container">
                    <p class="section-title"><%= productList.titulo %> </p>
                    <p class="view-more">Ver todos</p>
                </div>
                <div class="section-products flex-container">
                    <% for (const instrumento of productList.productos) { %>
                        <article class="product">
                            <div class="product-image-container">
                                <a href="/producto/<%= instrumento.id %>">
                                    <img src="/images/products/<%= instrumento.imagen %>" alt="<%= instrumento.nombre %>" class="product-image">
                                </a>
                                <i class="fas fa-shopping-basket"></i>
                            </div>
                            <div class="product-information">
                                <p class="product-description"><%= instrumento.nombre %></p>
                                <p class="product-price">$ <%= toThousand(instrumento.precio) %></p>
                            </div>
                        </article>
                    <% } %> 
                </div>
            </section>
        <% } %> 
    </main>
    <%- include('footer') %>
</body>    
</html>