<%- include('preHead') %>
<head>
    <%- include('head') %>
    <link rel="stylesheet" href="/css/users/usuario-detalle.css">
    <title>Detalle del usuario</title>
</head>

<body>
    <%- include('header') %>
    <main>
        <div class="contenedor-padre">
            <div class="usuario">
                <h2><%= usuario.nombre %></h2>
            </div>
            <div class="carrito">
                <button class="icono-carrito"><i class="fas fa-shopping-cart"></i></button>
            </div>
            <div class="img">
                <article>
                    <img src="/images/users/<%= usuario.imagen %>" width="100%" alt="<%= usuario.nombre %>">
                </article>
            </div>
            <div class="descripcion-contenedor">
                <article class="descripcion">
                    <div class="caracteristica">
                        <h4>Características Técnicas</h4>
                    </div>
                    <div class="detalle">
                        <p><%= usuario.descripción %></p>
                    </div>
                    <div class="precio">
                        <p>$ <%= toThousand(usuario.precio) %></p>
                    </div>
                    <div class="flex-container">
                        <a href="/usuario/<%= usuario.id %>/editar" class="action-button edit">
                            <button id="modificar" type="submit">Modificar</button>
                        </a>
                        <form  action="/usuario/<%= usuario.id %>/eliminar?_method=DELETE" method="POST">
                            <button id="eliminar" type="submit">Eliminar</button>
                        </form>
                    </div>
                </article>
            </div>
        </div>            
    </main>
    <%- include('footer') %>
</body>

</html>