<%- include('preHead') %>
<head>
    <%- include('head') %>
    <link rel="stylesheet" href="/css/products/producto-editar.css">
    <title>Detalle de Productos</title>
</head>
<body>
    <%- include('header') %>
    <main>
        <form action="/producto/<%= producto.id %>/editar?_method=PUT" method="POST">
            <div >
                <label for="nombre">Nombre del producto:</label>
                <input name="nombre" type="text" id="name" value="<%= producto.nombre %>">
            </div>
            <div >
                <label for="precio">Precio:</label>
                <input name="precio" type="text" id="price" value="$ <%= toThousand(producto.precio) %>">
            </div>
            <div >
                <label for="categoría">Categoría:</label>
                <select name="categoría" id="category">
                    <option value="Guitarra Eléctrica" <%= producto.categoría == "Guitarra Eléctrica" ? "selected" : "" %>>Guitarra Eléctrica</option>
                    <option value="Guitarra Clásica" <%= producto.categoría == "Guitarra Clásica" ? "selected" : "" %>>Guitarra Clásica</option>
                </select>
            </div>
            <div>
                <p><label for="descripción">Descripción:</label></p>
                <textarea name="descripción" placeholder="Escribir..." id="description"><%= producto.descripción %></textarea>
            </div>
            <div id="button">
                <button type="submit">Guardar los cambios</button>
            </div>
        </form>
    </main>
    <%- include('footer') %>
</body>
</html>