<%- include('preHead') %>
<head>
    <%- include('head') %>
    <link rel="stylesheet" href="/css/products/producto-detalle.css">
    <title>Detalle de Productos</title>
</head>
<body>
    <%- include('header') %>
    <main>
        <form action="/producto/<%= producto.id %>/editar?_method=PUT" method="POST">
            <div class="col-12 col-md-6">
                <label for="nombre" class="form-label">Nombre del producto:</label>
                <input name="nombre" type="text" id="name" value="<%= producto.nombre %>" class="form-input">
            </div>
            <div class="col-12 col-md-6">
                <label for="precio" class="form-label">Precio:</label>
                <input name="precio" type="text" id="price" value="$ <%= toThousand(producto.precio) %>" class="form-input">
            </div>
            <div class="col-12 col-md-6">
                <label for="categoría" class="form-label">Categoría:</label>
                <select name="categoría" id="category" class="form-input">
                    <option value="">Elegí</option>
                    <option value="electrica" <%= producto.categoría == "Guitarra Eléctrica" ? "selected" : "" %>>Guitarra Eléctrica</option>
                    <option value="clasica" <%= producto.categoría == "Guitarra Clásica" ? "selected" : "" %>>Guitarra Clásica</option>
                </select>
            </div>
            <div class="col-12">
                <label for="descripción" class="form-label">Descripción:</label>
                <textarea name="descripción" placeholder="Escribir..." id="description" class="form-input"><%= producto.descripción %></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="buy-now-button">Guardar los cambios</button>
            </div>
        </form>
    </main>
    <%- include('footer') %>
</body>
</html>