<%- include('head') %>
<body>
	<%- include('header') %>
	<main>
		<form action="/producto/crear" method="POST" enctype="multipart/form-data">
			<h1>Crear un producto</h1>
			<div class="flex-row secciones">
				<section>
					<div class="modulo">
						<label for="nombre">Nombre:</label>
						<input name="nombre" type="text" id="nombre" class="formInput" 
							value="<%= locals.oldData ? oldData.nombre : null %>">
						<% if (locals.errores && errores.nombre) { %><i class="fas fa-times-circle"></i><% } %>
					</div>
					<div class="modulo">
						<label for="precio">Precio:</label>
						<input name="precio" type="text" id="precio" class="formInput" 
							value="$ <%= locals.oldData ? toThousand(oldData.precio) : null %>">
						<% if (locals.errores && errores.precio) { %><i class="fas fa-times-circle"></i><% } %>
					</div>
					<div class="modulo">
						<label for="categoria" class="form-label">Categoría:</label>
						<select name="categoria" id="category" class="formInput">
							<% for (let n of locals.categoriasDeProductos) { %>
								<option value="<%= n.id %>" 
									<%= locals.oldData && oldData.categoria == n.id ? "selected" : "" %>>
									<%= n.nombre %>
								</option>
							<% } %>
						</select>
					</div>
				</section>
				<section>
					<label>Imagen:</label>
					<div class="flex-col" id="divImagen">
						<label for="inputImagen" id="preview"></label>
						<label for="inputImagen" class="formInput" id="labelImagen">Subí una imagen</label>
						<input name="imagen" type="file" id="inputImagen" accept="image/*">
						<% if (locals.errores && errores.imagen) { %>
							<i class="fas fa-times-circle"></i>
							<span class="mensajeError"><%= errores.imagen.msg %></span>
						<% } %>
					</div>
				</section>
	
			</div>
			<div class="flex-row textarea">
				<label for="descripcion" class="form-label">Descripción:</label>
				<textarea name="descripcion" placeholder="Escribir..." id="description" class="formInput"><%= locals.oldData ? producto.descripcion : "" %></textarea>
			</div>	
			<div id="button">
				<button type="submit">Guardar los cambios</button>
			</div>
		</form>
	</main>
	<%- include('footer') %>
</body>
</html>