<%- include('head') %>
<body>
	<%- include('header') %>
	<main>
		<div class="contenedor-padre">
			<div class="producto">
				<h2><%= producto.nombre %></h2>
			</div>
			<div class="carrito">
				<a href="/carrito/agregar/2/<%= producto.id %>">
					<button class="icono-carrito"><i class="fas fa-shopping-cart"></i></button>
				</a>
			</div>
			<div class="img">
				<article class="flex-row">
					<img src="/images/products/<%= producto.imagenes[0].ruta %>" width="100%" alt="<%= producto.nombre %>">
				</article>
			</div>
			<div class="descripcion-contenedor">
				<article class="descripcion">
					<div class="caracteristica">
						<h4>Descripción</h4>
					</div>
					<div class="detalle">
						<p><%= producto.categoria.nombre %></p>
						<p><%= producto.descripcion %></p>
					</div>
					<div class="precio">
						<p>$ <%= toThousand(producto.precio) %></p>
					</div>
					<div class="flex-container">
						<a href="/producto/<%= producto.id %>/editar" class="action-button edit">
							<button id="modificar" type="text">Modificar</button>
						</a>
						<form  action="/producto/<%= producto.id %>/eliminar?_method=DELETE" method="POST">
							<button id="eliminar" type="submit">Eliminar</button>
						</form>
					</div>
				</article>
			</div>
		</div>            
	</main>
	<%- include('footer') %>
</body>

</html>