<%- include('head') %>
<script src="/javascript/validacionesProducto.js"></script>
<body>
	<%- include('header') %>
	<main>
		<form action="/producto/<%= producto.id %>/editar?_method=PUT" method="POST">
			<h1>Editar un producto</h1>
			<div class="modulo">
				<label for="nombre">Nombre:</label>
				<input name="nombre" type="text" id="nombre" class="formInput" 
					value="<%= locals.oldData ? oldData.nombre : producto ? producto.nombre : null %>">
				<% if (locals.errores && errores.nombre) { %><i class="fas fa-times-circle"></i><% } %>
			</div>
			<div class="modulo">
				<label for="precio">Precio:</label>
				<input name="precio" type="text" id="precio" class="formInput" 
					value="$ <%= locals.oldData ? toThousand(oldData.precio) : producto ? toThousand(producto.precio) : null %>">
				<% if (locals.errores && errores.precio) { %><i class="fas fa-times-circle"></i><% } %>
			</div>
			<div class="modulo">
				<label for="categoria" class="form-label">Categoría:</label>
				<select name="categoria" id="category" class="formInput">
					<% for (let categoria of locals.categoriasDeProductos) { %>
						<option value="<%= categoria.id %>" 
							<%= categoria.id == producto.categoria.id ? "selected" : "" %>>
							<%= categoria.nombre %>
						</option>
					<% } %>
				</select>
			</div>
			<div class="modulo">
				<label for="descripcion" class="form-label">Descripción:</label>
				<textarea name="descripcion" placeholder="Escribir..." id="description" class="formInput"><%= producto.descripcion %></textarea>
			</div>
			<div id="button">
				<button type="submit">Guardar los cambios</button>
			</div>
		</form>
	</main>
	<%- include('footer') %>
</body>
</html>